.hover {
    cursor: pointer;
}
#zzz {
    margin: 1px;
    padding: 0.2%;
    color: black;
}
#user {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg");
    
    
}

