<div class="container">
    <h1>Welcome to <br> Github-Search Application</h1>
    <p>This appplication allows you to search git-hub for the usernames of some of the people that have caught your eye lately. Dive in.</p>
    <div>
      <button class="user btn-success"><a routerLink='/profile' routerLinkActive='active'>Search with UserName</a></button>
    </div>
    <div>
      <button class btn btn-warning="repo btn-warning"><a routerLink='/repo' routerLinkActive='active'>search with repository name</a></button>
    </div>
    </div>